.container
	.row.footer-images
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			ul
				li
					a(href="#")
						img(src="img/yahoo.png")
				li
					a(href="#")
						img(src="img/techinasia.png")
				li
					a(href="#")
						img(src="img/crowdsourcing.png")
				li
					a(href="#")
						img(src="img/crowdsourcingweek.png")
				li
					a(href="#")
						img(src="img/HK.png")
				li
					a(href="#")
						img(src="img/imoney.png")
				li
					a(href="#")
						img(src="img/rthk.png")
		//- 	img(src="img/yahoo.png")
		//- .col-xs-6.col-sm-4.col-md-2.col-lg-2
		//- 	img(src="img/techinasia.png")
		//- .col-xs-6.col-sm-4.col-md-2.col-lg-2
		//- 	img(src="img/crowdsourcing.png")
		//- .col-xs-6.col-sm-4.col-md-2.col-lg-1
		//- 	img(src="img/crowdsourcingweek.png")
		//- .col-xs-6.col-sm-4.col-md-2.col-lg-1
		//- 	img(src="img/HK.png")
		//- .col-xs-6.col-sm-4.col-md-2.col-lg-2
		//- 	img(src="img/imoney.png")
		//- .col-xs-6.col-sm-4.col-md-2.col-lg-2
		//- 	img(src="img/rthk.png")
	.row.copyright
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			p Copyright © 2001 - 2014  Cssauthor.com
