include modules/head
body
	include modules/header
	.container-fluid
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.baner-padding
				.baner
					.slicking-content
						div
							img(src="img/balconies.png")
							.baner-content
								p
									|Intellectual Property has the Shelf Life<br />
									|<span>of Banana</span>
								a(href="#") Become a Member
						div
							img(src="img/balconies.png")
							.baner-content
								p
									|Intellectual Property has the Shelf Life<br />
									|<span>of Banana</span>
								a(href="#") Become a Member
					button.left-arrow(type="button")
						<i class="fa fa-chevron-left"></i>
					button.right-arrow(type="button")
						<i class="fa fa-chevron-right"></i>
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.our-capabilities
				img.green-circle(src="img/circle-with-arrow.png")
				h1.our-work 
					|OUR WORK IS THE PRESENTATION<br />
					|OF OUR CAPABILITIES
				p.our-work-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis sed ipsum nec laoreet. Maecenas eu scelerisque odio, eu accumsan ante. Donec aliquam mollis mi in aliquam. Ut nec consectetur enim, ut rutrum neque.
				p.our-work-p Curabitur vel aliquam ante. Sed dignissim luctus ipsum quis varius. Aenean posuere eros vel mauris maximus sagittis in a enim. Quisque sollicitudin, magna egestas ultrices fermentum, nisl arcu ultricies lorem, sed maximus nisi orci et enim. Nunc id eros ac mi rutrum eleifend. Nulla vulputate odio quis nisl luctus, ut congue lectus vehicula.
		.row.three-steps-row
			hr
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				.three-steps-first.active
					button.three-steps.first-step(type="button" data-tab="tab1")<span>1</span> Simple
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				.three-steps-second
					button.three-steps.second-step(type="button" data-tab="tab2") <span>2</span> Transparent
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				.three-steps-third
					button.three-steps.third-step(type="button") <span>3</span> Collaborative
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.tabs
				.tab-with-glasses.active-tab
					img(src="img/glasses.png")
					.glasses-text
						h3 There you can see header
						p Proin ultricies volutpat risus a condimentum. Curabitur vel aliquam ante. Sed dignissim luctus ipsum quis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt imperdiet mauris ullamcorper posuere. Vivamus placerat, ligula sed luctus tincidunt, diam urna pharetra lectus, eu venenatis leo nisl id ex.
				.tab-second-content
					h3 There another one
					p Quisque sollicitudin, magna egestas ultrices fermentum, nisl arcu ultricies lorem, sed maximus nisi orci et enim. Nunc id eros ac mi rutrum eleifend. Nulla vulputate odio quis nisl luctus, ut congue lectus vehicula. Aliquam sodales ornare nisi, non dictum arcu volutpat eget. In aliquet vel ante at malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean vel nulla sit amet felis vulputate bibendum. Mauris sapien enim, malesuada et purus quis, pretium imperdiet nunc.

				.tab-third-content
					h3 This is third header
					p  Duis sodales odio eros, vel pharetra urna ultrices a. Nulla posuere ornare lacinia. In imperdiet sem mattis elit facilisis, vitae porta sapien congue. Integer venenatis dignissim tincidunt. Pellentesque lobortis sagittis blandit. Vivamus in viverra tortor. Aenean at enim at eros tempor iaculis. Integer aliquam convallis felis vitae rutrum. Phasellus at ultricies leo, eu vulputate ligula. Maecenas vitae odio erat. Ut suscipit tellus at pharetra aliquam.
	.container-fluid
		.row.two-area
			.col-xs-12.col-sm-12.col-md-6.col-lg-6.areas
				.blue-area
					.blue-area-content
						.blue-area-text
							h3 Find Properties
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque, tortor at consectetur.
							a.blue-area-button(href="#") Submit Your Project
						img(src="img/armchair.png")
			.col-xs-12.col-sm-12.col-md-6.col-lg-6.areas
				.white-area
					.white-area-content
						img(src="img/pouch.png")
						.white-area-text
							h3 Find Buyers
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque, tortor at consectetur.
							a(href="#") Become A Member
	.container
		.row.upper-three-column
			.col-xs-12.col-sm-8.col-md-9.col-lg-9.featured-project
				h2 Featured Projects
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque, tortor at consectetur dictum, ipsum nisi sollicitudin metus, non mattis ipsum urna et urna.
			.col-xs-12.col-sm-4.col-md-3.col-lg-3
				a(href="#").featured-project-button Become a Member
		.row.three-column
			.col-xs-12.col-sm-12.col-md-6.col-lg-4.london-wrap
				.london-column
					a(href="#").first-column-button From <span>GBP 3600</span>
					.img-border
						img(src="img/London.png").london-img
					.column-text
						h4 Ontario Tower, London
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem. Ut ac quam rhoncus, tincidunt leo vitae, euismod mi. Morbi mattis tempus convallis. Integer cursus.
						img(src="img/founded-indicator.png")
						span.found 10% Founded
						span.term 8 Days Left
					a(href="#").project-details
						|See Project Details
						img(src="img/green-arrow.png")
			.col-xs-12.col-sm-12.col-md-6.col-lg-4.london-wrap
				.london-column
					a(href="#").first-column-button From <span>GBP 3600</span>
					.img-border
						img(src="img/other-london.png").london-img
					.column-text
						h4 Ontario Tower, London
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem. Ut ac quam rhoncus, tincidunt leo vitae, euismod mi. Morbi mattis tempus convallis. Integer cursus.
						img(src="img/founded-indicator(2).png")
						span.found 60% Founded
						span.term 8 Days Left
					a(href="#").project-details
						|See Project Details
						img(src="img/green-arrow.png")
			.col-xs-12.col-sm-12.col-md-6.col-lg-4
				.london-column
					a(href="#").first-column-button From <span>GBP 3600</span>
					.img-border
						img(src="img/London.png").london-img
					.column-text
						h4 Ontario Tower, London
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem. Ut ac quam rhoncus, tincidunt leo vitae, euismod mi. Morbi mattis tempus convallis. Integer cursus.
						img(src="img/founded-indicator.png")
						span.found 10% Founded
						span.term 8 Days Left
					a(href="#").project-details
						|See Project Details
						img(src="img/green-arrow.png")
	.town-background
		.container
			.row.town-content
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.town-header Be Part of a Growing International Community
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					p.town-paragraph One of the challenges in networking is everybody thinks it's making cold calls to strangers. Actually, it's the people who already have strong trust relationships with you
				.col-xs-12.col-sm-12.col-md-6.col-lg-6.player-thoughts-margin
					.player-wrap
						.player-thoughts
							h4 One of the Best
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed leo ac sem tincidunt tempus. Nullam at massa in ante condimentum dictum.
						img.player-photo(src="img/david-picture.png")
						p.player-name David Beckham
				.col-xs-12.col-sm-12.col-md-6.col-lg-6
					.player-wrap
						.player-thoughts
							h4 Exellent Service
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed leo ac sem tincidunt tempus. Nullam at massa in ante condimentum dictum.
						img.player-photo(src="img/david-picture(2.1).png")
						p.player-name David Beckham
	include modules/footer