@font-face
	font-family OpenSans-Regular
	src url(../fonts/OpenSansRegular.eot) format('embedded-opentype'),
	url(../fonts/OpenSansRegular.woff) format('woff'),
	url(../fonts/OpenSans-Regular.ttf) format('truetype')
	
@font-face
	font-family OpenSans-Bold
	src url(../fonts/OpenSansBold.eot) format('embedded-opentype'),
	url(../fonts/OpenSansBold.woff) format('woff'),
	url(../fonts/OpenSans-Bold.ttf) format('truetype')
	
@font-face
	font-family OpenSans-Light
	src url(../fonts/OpenSansLight.eot) format('embedded-opentype'),
	url(../fonts/OpenSansLight.woff) format('woff'),
	url(../fonts/OpenSans-Light.ttf) format('truetype')
	
@font-face
	font-family OpenSans-Semibold
	src url(../fonts/OpenSansSemiBold.eot) format('embedded-opentype'),
	url(../fonts/OpenSansSemiBold.woff) format('woff'),
	url(../fonts/OpenSans-Semibold.ttf) format('truetype')

@font-face
	font-family OpenSans-ExtraBold
	src url(../fonts/OpenSansExtraBold.eot) format('embedded-opentype'),
	url(../fonts/OpenSansExtraBold.woff) format('woff'),
	url(../fonts/OpenSans-ExtraBold.ttf) format('truetype')
	
@font-face
	font-family slick
	src url(libs/slick-baster/slick/fonts/slick.eot) format('embedded-opentype'),
	url(libs/slick-baster/slick/fonts/slick.woff) format('woff'),
	url(libs/slick-master/slick/fonts/slick.ttf) format('truetype')

@font-face
	font-family FontAwesome
	src url(libs/font-awesome-4.3.0/fonts/fontawesome-webfont.eot) format('embedded-opentype'),
	url(libs/font-awesome-4.3.0/fonts/fontawesome-webfont.woff) format('woff'),
	url(libs/font-awesome-4.3.0/fonts/fontawesome-webfont.ttf) format('truetype')